.user-input {
  width: 100%;
  &__integral-input-wrapper {
    width: 100%;
  }
  &__submit-wrapper {
    float: right;
  }
  &__from-input-wrapper {
    width: 50px;
    position: absolute;
    bottom: 0;
  }
  &__to-input-wrapper {
    width: 50px;
    position: absolute;
    top: 0;
  }
  &__integral-form {
    display: flex;
    position: relative;
  }
  &__integral-icon {
    font-size: 80px;
    padding: 55px 0 65px;
  }
  &__integral-icon-wrapper {
    margin-right: 20px;
  }
  &__formula {
    flex-grow: 1;
    align-self: center;
  }
}
