<form class="user-input"
  #userInputForm="ngForm"
  (ngSubmit)="onSubmit($event)">
  <div class="user-input__integral-form">
    <div class="user-input__integral-icon-wrapper">
      <mat-form-field class="user-input__to-input-wrapper">
        <input matInput
          required
          placeholder="До"
          [(ngModel)]="to"
          type="number"
          name="to">
      </mat-form-field>
      <div class="user-input__integral-icon">
        ∫
      </div>
      <mat-form-field class="user-input__from-input-wrapper">
        <input matInput
          placeholder="Від"
          required
          value="0"
          [(ngModel)]="from"
          type="number"
          name="from">
      </mat-form-field>
    </div>
    <div class="user-input__formula">
      <mat-form-field
        class="user-input__integral-input-wrapper">
        <input
          matInput
          [formControl]="formulaFormControl"
          required
          name="formula"
          placeholder="Інтеграл">
          <mat-error *ngIf="formulaFormControl.hasError('invalidFormula')">
            Упс, я ще не вмію таке рахувати
          </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="user-input__options-wrapper">
    <mat-form-field class="user-input__n-input-wrapper">
      <input matInput
        required
        placeholder="n"
        [(ngModel)]="n"
        type="number"
        name="n">
    </mat-form-field>
    <mat-form-field class="user-input__integral-method-wrapper">
      <mat-label>Спосіб обчислення</mat-label>
      <mat-select [(ngModel)]="integralMethod" name="integralMethod">
        <mat-option
          *ngFor="let integralMethod of integralMethods"
          [value]="integralMethod">
          {{integralMethodsTranslations[integralMethod]}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-checkbox
      [(ngModel)]="isAsync" name="isAsync">
      Асинхронно обчислити
    </mat-checkbox> -->
  </div>
  <div class="user-input__submit-wrapper">
    <button
      mat-raised-button
      type="submit"
      color="primary"
      id="user-input__submit-btn"
      [disabled]="isDisabledSubmit">
      Порахувати
    </button>
  </div>
</form>
